@import url(https://db.onlinewebfonts.com/c/90e58512a47caf5ccda4518c9138f7a8?family=Mollie+glaston);

@font-face {
    font-family: "Mollie glaston";
    src: url("https://db.onlinewebfonts.com/t/90e58512a47caf5ccda4518c9138f7a8.eot");
    src: url("https://db.onlinewebfonts.com/t/90e58512a47caf5ccda4518c9138f7a8.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/90e58512a47caf5ccda4518c9138f7a8.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/90e58512a47caf5ccda4518c9138f7a8.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/90e58512a47caf5ccda4518c9138f7a8.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/90e58512a47caf5ccda4518c9138f7a8.svg#Mollie glaston")format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
